openapi: '3.0.2'

info:
  title: Octopus Energy API
  version: '1.0'
  description: |
    OpenAPI specification version of the Octopus Energy API documented on their website here <a href="https://developer.octopus.energy/docs/api/" target="_blank">https://developer.octopus.energy/docs/api/</a>.

    Why? Because although Octopus Energy have documented their API, it's not using OpenAPI spec and therefore you cannot use tooling to
      automatically generate client libraries for it. This means everyone creates custom code to interface with their API.

servers:
  - url: https://api.octopus.energy
    description: Production server

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Basic authentication is used to authenticate requests to the Octopus Energy API. You can find your API key in your account dashboard.
        You can find your account dashboard here: <a href="https://octopus.energy/dashboard/developer/" target="_blank">https://octopus.energy/dashboard/developer/</a>.

        The username is your API key and the password is blank.

        Please see their API documentation for more information: <a href="https://developer.octopus.energy/docs/api/#authentication" target="_blank">https://developer.octopus.energy/docs/api/#authentication</a>.
  schemas:
    ConsumptionInstance:
      type: object
      properties:
        consumption:
          type: number
          format: double
        interval_start:
          type: string
          format: date-time
        interval_end:
          type: string
          format: date-time
    ConsumptionResponse:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/ConsumptionInstance'
    DualFuelSingleRate:
      allOf:
        - $ref: '#/components/schemas/ElectricitySingleRate'
        - type: object
          properties:
            electricity_standard:
              type: integer
              format: int32
            gas_standard:
              type: integer
              format: int32
    DualFuelDualRate:
      allOf:
        - $ref: '#/components/schemas/ElectricityDualRate'
        - type: object
          properties:
            gas_standard:
              type: integer
              format: int32
    DualRegisterElectricityTariff:
      type: object
      properties: 
        prepayment: 
          type: object
          properties: 
            code: 
              type: string
            standing_charge_exc_vat: 
              type: number
            standing_charge_inc_vat: 
              type: number
            online_discount_exc_vat: 
              type: integer
              format: int32
            online_discount_inc_vat: 
              type: integer
              format: int32
            dual_fuel_discount_exc_vat: 
              type: integer
              format: int32
            dual_fuel_discount_inc_vat: 
              type: integer
              format: int32
            exit_fees_exc_vat: 
              type: integer
              format: int32
            exit_fees_inc_vat: 
              type: integer
              format: int32
            exit_fees_type: 
              type: string
            links: 
              $ref: '#/components/schemas/ProductLinks'
            day_unit_rate_exc_vat: 
              type: number
            day_unit_rate_inc_vat: 
              type: number
            night_unit_rate_exc_vat: 
              type: number
            night_unit_rate_inc_vat: 
              type: number
    ElectricityDualRate: 
        type: object
        properties: 
          electricity_day: 
            type: integer
            format: int32
          electricity_night: 
            type: integer
            format: int32
    ElectricityMeterPointsResponse:
      type: object
      properties:
        gsp:
          type: string
        mpan:
          type: string
        profile_class:
          type: integer
    ElectricitySingleRate: 
        type: object
        properties: 
          electricity_standard: 
            type: integer
            format: int32
    GridSupplyPoint:
      type: object
      properties:
        group_id:
          type: string
    GridSupplyPointsResponse:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/GridSupplyPoint'
    ProductComplex:
      allOf:
        - $ref: '#/components/schemas/ProductSimple'
        - type: object
          properties:
            tariffs_active_at:
              type: string
              format: date-time
            single_register_electricity_tariffs:
              type: object
              properties:
                _A:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _B:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _C:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _D:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _E:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _F:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _G:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _H:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _J:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _K:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _L:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _M:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _N:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _P:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
            DualRegisterElectricityTariffs:
              type: object
              properties:
                _A:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _B:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _C:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _D:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _E:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _F:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _G:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _H:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _J:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _K:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _L:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _M:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _N:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
                _P:
                  type: object
                  $ref: '#/components/schemas/DualRegisterElectricityTariff'
            single_register_gas_tariffs:
              type: object
              properties:
                _A:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _B:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _C:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _D:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _E:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _F:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _G:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _H:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _J:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _K:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _L:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _M:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _N:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
                _P:
                  type: object
                  $ref: '#/components/schemas/SingleRegisterTariff'
            sample_quotes:
              type: object
              properties:
                _A:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _B:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _C:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _D:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _E:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _F:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _G:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _H:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _J:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _K:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _L:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _M:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _N:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
                _P:
                  type: object
                  $ref: '#/components/schemas/SampleQuote'
            sample_consumption:
              type: object
              $ref: '#/components/schemas/SampleConsumption'
    ProductLinks:
      type: array
      items:
        type: object
        properties:
          href:
            type: string
          method:
            type: string
          rel:
            type: string
    ProductSimple:
      type: object
      properties:
        code:
          type: string
        direction:
          type: string
        full_name:
          type: string
        display_name:
          type: string
        description:
          type: string
        is_variable:
          type: boolean
        is_green:
          type: boolean
        is_tracker:
          type: boolean
        is_prepay:
          type: boolean
        is_business:
          type: boolean
        is_restricted:
          type: boolean
        term:
          type: integer
        brand:
          type: string
        available_from:
          type: string
          format: date-time
        available_to:
          type: string
          format: date-time
        links:
          $ref: '#/components/schemas/ProductLinks'
    ProductsResponse:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductSimple'
    SampleConsumption:
      type: object
      properties: 
        electricity_single_rate: 
          $ref: '#/components/schemas/ElectricitySingleRate'
        electricity_dual_rate: 
          $ref: '#/components/schemas/ElectricityDualRate'
        dual_fuel_single_rate: 
          $ref: '#/components/schemas/DualFuelSingleRate'
        dual_fuel_dual_rate: 
          $ref: '#/components/schemas/DualFuelDualRate'
    SampleQuote:
      type: object
      properties: 
        prepayment: 
          type: object
          properties: 
            electricity_single_rate: 
              type: object
              properties: 
                annual_cost_inc_vat: 
                  type: integer
                  format: int32
                annual_cost_exc_vat: 
                  type: integer
                  format: int32
            electricity_dual_rate: 
              type: object
              properties: 
                annual_cost_inc_vat: 
                  type: integer
                  format: int32
                annual_cost_exc_vat: 
                  type: integer
                  format: int32
            dual_fuel_single_rate: 
              type: object
              properties: 
                annual_cost_inc_vat: 
                  type: integer
                  format: int32
                annual_cost_exc_vat: 
                  type: integer
                  format: int32
            dual_fuel_dual_rate: 
              type: object
              properties: 
                annual_cost_inc_vat: 
                  type: integer
                  format: int32
                annual_cost_exc_vat: 
                  type: integer
                  format: int32
    SingleRegisterTariff:
      type: object
      properties: 
        prepayment: 
          type: object
          properties: 
            code: 
              type: string
            standing_charge_exc_vat: 
              type: number
              format: double
            standing_charge_inc_vat: 
              type: number
              format: double
            online_discount_exc_vat: 
              type: integer
              format: double
            online_discount_inc_vat: 
              type: integer
              format: double
            dual_fuel_discount_exc_vat: 
              type: integer
              format: double
            dual_fuel_discount_inc_vat: 
              type: integer
              format: double
            exit_fees_exc_vat: 
              type: integer
              format: double
            exit_fees_inc_vat: 
              type: integer
              format: double
            exit_fees_type: 
              type: string
            links:
              $ref: '#/components/schemas/ProductLinks'
            standard_unit_rate_exc_vat: 
              type: number
              format: double
            standard_unit_rate_inc_vat: 
              type: number
              format: double

paths:
  /v1/electricity-meter-points/{mpan}/:
    get:
      summary: Get electricity meter points
      description: |
        See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#electricity-meter-points" target="_blank">https://developer.octopus.energy/docs/api/#electricity-meter-points</a>.
      parameters:
        - name: mpan
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectricityMeterPointsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /v1/electricity-meter-points/{mpan}/meters/{serial_number}/consumption/:
    get:
      summary: Get electricity meter consumption data
      description: |
        See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#consumption" target="_blank">https://developer.octopus.energy/docs/api/#consumption</a>.
      security:
        - basicAuth: []
      parameters:
        - name: mpan
          in: path
          required: true
          schema:
            type: string
        - name: serial_number
          in: path
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: period_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: order_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - "period"
              - "-period"
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - quarter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/gas-meter-points/{mprn}/meters/{serial_number}/consumption/:
    get:
      summary: Get gas meter consumption data
      description: |
        See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#consumption" target="_blank">https://developer.octopus.energy/docs/api/#consumption</a>.
      security:
        - basicAuth: []
      parameters:
        - name: mpan
          in: path
          required: true
          schema:
            type: string
        - name: serial_number
          in: path
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: period_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: order_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - "period"
              - "-period"
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - quarter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/industry/grid-supply-points/:
    get:
      summary: Get grid supply points
      description: |
        See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#list-grid-supply-points" target="_blank">https://developer.octopus.energy/docs/api/#list-grid-supply-points</a>.
      parameters:
        - name: postcode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridSupplyPointsResponse'
  /v1/products/:
    summary: Get products
    description: |
      See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#list-products" target="_blank">https://developer.octopus.energy/docs/api/#list-products</a>.
    parameters:
      - name: is_variable
        in: query
        required: false
        schema:
          type: boolean
      - name: is_green
        in: query
        required: false
        schema:
          type: boolean
      - name: is_tracker
        in: query
        required: false
        schema:
          type: boolean
      - name: is_prepay
        in: query
        required: false
        schema:
          type: boolean
      - name: is_business
        in: query
        required: false
        schema:
          type: boolean
      - name: available_at
        in: query
        required: false
        schema:
          type: string
          format: date-time
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'
  /v1/products/{product_code}/:
    get:
      summary: Get specific product
      description: |
        See description on Octopus Energy's API documentation site <a href="https://developer.octopus.energy/docs/api/#retrieve-a-product" target="_blank">https://developer.octopus.energy/docs/api/#retrieve-a-product</a>.
      parameters:
        - name: product_code
          in: path
          required: true
          schema:
            type: string
        - name: tariffs_active_at
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductComplex'